html, body {
  margin: 0;
  padding: 0;
  background-color: $secondary;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: $red;
    color: white;
  }
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
