.red {
  color: $red;
  background-color: $secondary;

  &::selection {
    color: $primary;
  }
}

.link {
  cursor: pointer;
  position: relative;
  transition: 0.2s;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    transition: 0.2s;
    height: 3px;
    width: 100%;
    background-color: $red;
  }

  &:hover {
    color: white;
    transition: 0.2s;

    &::before {
      bottom: calc(50% - 3px);
      transition: 0.2s;
      background-color: $primary;
    }
  }
}

.border-container {
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  top: 0;
  left: 0;
  margin: 1rem;
  border: 2px solid $primary;
  opacity: 1;
}
